.boxTextarea {
  width: 70%;
}

.textarea {
  font-family: Montserrat, sans-serif;
  border: none;
  outline: none;
  height: 85px;
  line-height: 25px;
  background: transparent;
  font-size: 14px;
  color: #a09e9e;
  resize: none;
  outline: none;
  border-radius: 5px;
  overflow-y: auto;
  width: 100%;
}

.formControl.error textarea,
.formControl.error input {
  border: 2px solid red;
  border-radius: 5px;
}

.errorMessage{
  margin: 0;
  color: red;
}


.formErrorSummary {
  border: 2px solid red;
  border-radius: 5px;
}